/*-- DrLeonardo styles refactor --*/

@import "../../styles/global.css";
@import "../../styles/variables.css";

/*-- Ввод данных --*/
#commandInput {
    -fx-background-color: -fx-whiteG;
    -fx-background-radius: 0 0 10 10;
    -fx-font-size: 14px;
    -fx-text-fill: #c9c9c9;
    -fx-font-weight: bold;
    -fx-cursor: text;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 0.0, 0.0);
}
#commandInput:focused {
    -fx-text-fill: #c9c9c9;
}
#output{
    -fx-text-fill: #c9c9c9;
}

/*-- DrLeonardo styles refactor --*/
