/*-- DrLeonardo styles refactor --*/

@import "../../styles/global.css";
@import "../../styles/variables.css";
#changelog{
    -fx-background-color: #282828;

}
#buttonunactivetext{
    -fx-fill: #fafafa;
}
/*-- DrLeonardo styles refactor --*/
