/*-- Global Checkbox Styles from Old Design --*/
.check-box {
  -fx-text-fill: #ffffff;
  -fx-font-size: 14px;
  -fx-font-family: "Comfortaa Bold";
  -fx-background-color: #1c1e20;
  -fx-background-radius: 4px;
  -fx-border-color: #282828;
  -fx-border-radius: 4px;
  -fx-background-image: url("../images/icons/checkbox_off.png");
  -fx-background-repeat: no-repeat;
  -fx-alignment: center-left;
}

.check-box .mark {
  -fx-background-color: transparent;
}

.check-box .box {
  -fx-background-color: transparent;
}

.check-box:selected {
  -fx-background-color: #252525;
  -fx-background-image: url("../images/icons/checkbox_on.png");
  -fx-background-repeat: no-repeat;
}

.check-box:selected .mark {
  -fx-background-color: transparent;
}

.check-box:selected .box {
  -fx-background-color: transparent;
}
