/* 
FluffyCuteOwO#6745 - DarkenGravitLauncherRuntime
*/

@import "../../styles/global.css";
@import "../../styles/variables.css";

#optionsPane{
    -fx-background-color: #181A1B;
    -fx-background-radius: 8px;
}

.optional-container {
    -fx-background-color: #1C1E20;
    -fx-background-radius: 4px;
    -fx-border-color: #282828;
    -fx-border-radius: 4px;
}
#optionsPane * .optional-checkbox{
    -fx-opacity: 1.0 ;
    -fx-background-size: 20 20;
    -fx-background-position: 30 7;
    -fx-font-size: 14px;
    -fx-font-family: "Manrope Bold";
}

#optionsPane * .optional-checkbox .descriptiontext{
    -fx-opacity: 1.0 ;
    -fx-padding: 34 0 0 8;
    -fx-max-width: 883px;
}
#optionsPane * .optional-checkbox .maintext{
    -fx-opacity: 1.0 ;
    -fx-text-fill: #fafafa;
    -fx-padding: 7 30 0 38;
}
#OptionalSettings{
    -fx-background-color: #282828;

}

