@font-face {
    font-family: 'Manrope Bold';
    src: url('./Manrope-Bold.ttf');
}
@font-face {
    font-family: 'Manrope ExtraBold';
    src: url('./Manrope-ExtraBold.ttf');
}
@font-face {
    font-family: 'Manrope ExtraLight';
    src: url('./Manrope-ExtraLight.ttf');
}
@font-face {
    font-family: 'Manrope Light';
    src: url('./Manrope-Light.ttf');
}
@font-face {
    font-family: 'Manrope Medium';
    src: url('./Manrope-Medium.ttf');
}
@font-face {
    font-family: 'Manrope Regular';
    src: url('./Manrope-Regular.ttf');
}
@font-face {
    font-family: 'Manrope SemiBold';
    src: url('./Manrope-SemiBold.ttf');
}
@font-face {
    font-family: 'Minecraft Ten';
    src: url('./Minecraft.ttf');
}

body {
    font-family: "Manrope Regular", serif;
    background-color: transparent;
}