/* 
FluffyCuteOwO#6745 - DarkenGravitLauncherRuntime
*/

@import "../../styles/global.css";
@import "../../styles/variables.css";

#achievementsPane{
    -fx-background-color: #181A1B;
    -fx-background-radius: 8px;
}

.achievements-container {
    -fx-opacity: 1;
    -fx-background-color: #1C1E20;
    -fx-background-radius: 4px;
    -fx-border-color: #282828;
    -fx-border-radius: 4px;
    -fx-max-width: 219px;
    -fx-min-width: 219px;
    -fx-max-height: 200px;
    -fx-min-height: 200px;
}
#achievementsPane * .achievements-checkbox {
    -fx-opacity: 1.0 ;
    -fx-background-size: 20 20;
    -fx-background-position: 20 10;
    -fx-font-size: 14px;
    -fx-font-family: "Manrope Bold";
}
.achievements-checkbox:hover, .achievements-checkbox:hover > * , .achievements-container:hover > * , .achievements-container:hover {
    -fx-opacity: 0.92 ;
}

.achievements-checkbox:disabled, .achievements-checkbox:disabled > * {
    -fx-opacity: 1.0 ;
}

#achievementsPane * .achievements-checkbox .descriptiontext{
    -fx-opacity: 1.0 ;
    -fx-padding: 144 0 0 0;
    -fx-max-width: 190px;
}
#achievementsPane * .achievements-checkbox .maintext{
    -fx-opacity: 1.0 ;
    -fx-text-fill: #fafafa;
    -fx-padding: 124 0 0 0;
}

#achievementsPane * .achievements-checkbox .statustext {
    -fx-opacity: 1.0 ;
    -fx-text-fill: -fx-ramGR;
    -fx-padding: 10 0 0 28;
}
#achievements{
    -fx-background-color: #282828;

}

#achievementsPane * .achievements-checkbox-dis .descriptiontext{
    -fx-opacity: 0.85 ;
}
#achievementsPane * .achievements-checkbox-dis .maintext{
    -fx-opacity: 0.85 ;
    -fx-text-fill: #ababab;
}

