/*-- Dark Theme Variables (from old runtime) --*/
* {
  -fx-green: #09bc6a;
  -fx-green-hover: #15d37c;
  -fx-greentr: rgba(9, 188, 106, 0.12);
  -fx-colors-text: #dddddd;
  -fx-colors-text-hover: #d6d6d6;
  -fx-colors-unactive: #545454;
  -fx-colors-unactive-hover: #5e5e5e;
  -fx-colors-base: #000000;
  -fx-colors-baseg: #272729;
  -fx-colors-basega: rgba(50, 50, 53, 0.5);
  -fx-glass: rgba(108, 108, 108, 0.22);
  -fx-glass-hover: rgba(101, 101, 101, 0.28);
  -fx-colors-text-secondary: #c3d2da;
  -fx-bg2: #5b5b5e;
  -fx-red: #db4d4d;
  -fx-red-hover: #ba2e35;
  -fx-gray: #323232;
  -fx-violet: #6b36ff;
  -fx-violet-hover: linear-gradient(to bottom right, #8d4ce0 0%, #5711fa 100%);
  -fx-violet-hover2: rgba(65, 61, 100, 0.66);
  -fx-violettr: rgba(107, 54, 255, 0.18);
  -fx-header: #a4b3ba;
  -fx-header-hover: #d0d6d9;
  -fx-scene-card: rgba(100, 100, 100, 0.5);
  -fx-violetgr: linear-gradient(#8d4ce0 10.39%, #5d35b9 68.07%, #fafaff 68.07%);
  -fx-ramgr: linear-gradient(from 50% 50% to 100% 100%, -fx-green, -fx-violet);
  -fx-updategr: linear-gradient(from 20% 20% to 100% 100%, -fx-violet, #5d35b9);
  -fx-errorgr: linear-gradient(from 20% 20% to 100% 100%, #8d4ce0, #b93639);
  -fx-effect-dropshadow: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 30, 0, 0, 0);
}
